:root {
  /* ## Colors

### Primary */

  --Tomato: #ff6257;
  /* 
### Neutral */

  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-mobile {
  display: block;
  width: 100%;
}

.hero-desktop {
  display: none;
}

.form-section {
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 2.2em;
  font-weight: bolder;
  text-align: left;
  color: var(--CharcoalGrey);
}

p {
  color: var(--CharcoalGrey);
  font-size: 16px;
}

ul {
  padding: 0;
  list-style: none;
  width: 300px;
  margin: auto 0;
  margin-bottom: 1em;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-p {
  padding-left: 5px;
  line-height: 1.4;
}
.list-img {
  padding-right: 10px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--Grey);
  height: 50px;
}

label {
  font-size: 13px;
  font-weight: bolder;
  color: var(--DarkSlateGrey);
}

.submit-button {
  width: 100%;
  height: 50px;
  background-color: var(--DarkSlateGrey);
  border-radius: 5px;
  border: 1px solid var(--DarkSlateGrey);
  margin: 1em 0 2em 0;
}

.submit-button p {
  color: var(--White);
  font-size: 15px;
  text-align: center;
}

.success-div {
  display: none;
  width: 90vw;
  height: 100vh;
  margin: auto;
}

.confirmation-div {
  width: 100%;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.check-symbol {
  display: block;
}

.confirmation-h2 {
  font-size: 2em;
  font-weight: bolder;
  color: var(--DarkSlateGrey);
}

.confirmation-p {
  line-height: 1.4;
  padding-right: 2em;
}

#user-email {
  font-weight: bolder;
}

.button-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30%;
}

.dissmiss-button {
  width: 100%;
  height: 50px;
  background-color: var(--DarkSlateGrey);
  border-radius: 5px;
  border: 1px solid var(--DarkSlateGrey);
  margin-bottom: 2em;
}

.dissmiss-button p {
  color: var(--White);
  font-size: 15px;
  text-align: center;
}

.attribution {
  text-align: center;
  margin: auto;
  color: black;
}

.attribution a {
  color: var(--Tomato);
}

/* ######## MEDIA QUERIES ######### */

@media only screen and (min-width: 1100px) {
  body {
    background-color: var(--DarkSlateGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .attribution {
    margin-top: 1em;
    color: var(--White);
  }

  .main-wrap {
    width: 80%;
    height: 80vh;
    background-color: var(--White);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
  }

  .hero {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
    margin-right: 0;
    width: 90%;
    height: 90%;
  }

  .desktop-spacer {
    width: 80%;
    margin: auto 0 2em auto;
  }

  .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    width: 100%;
  }

  h1 {
    font-size: 3.5em;
  }

  .success-div {
    width: 40vw;
    height: 70vh;
    background-color: var(--White);
    border-radius: 30px;
  }

  .confirmation-div {
    margin: 2em auto auto auto;
    width: 80%;
    height: auto;
  }

  .confirmation-h2 {
    font-size: 3em;
  }

  .button-div {
    width: 80%;
    justify-content: flex-start;
    margin: 2em auto;
  }

  .submit-button,
  .dissmiss-button {
    transition: 0.5s ease-in-out;
  }

  /* ######## ACTIVE STATES ######### */

  .submit-button:hover {
    background: linear-gradient(
      110deg,
      rgba(255, 87, 148, 1) 0%,
      rgba(255, 98, 87, 1) 97%
    );
    border: none;
    box-shadow: 2px 6px 17px 9px rgba(255, 98, 87, 0.4);
  }

  .dissmiss-button:hover {
    background: linear-gradient(
      110deg,
      rgba(255, 87, 148, 1) 0%,
      rgba(255, 98, 87, 1) 97%
    );
    border: none;
    box-shadow: 2px 6px 17px 9px rgba(255, 98, 87, 0.4);
  }
}
